name: ProgressDialogBuildTestDeploy

on: [push, pull_request]
  
jobs:
  build:
    runs-on: windows-latest
   
    steps:
    - name: Checkout repo
      uses: actions/checkout@v6
      with:
        submodules: false
      
    - name: Setup Dotnet
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 9.0.x
          
    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v2.0.0
      
    - name: Build
      run: dotnet build --configuration Release